<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_ROOT</key>
	<string>$(API_ROOT)</string>
	<key>AUTH_CLIENT_ID</key>
	<string>$(AUTH_CLIENT_ID)</string>
	<key>AUTH_DOMAIN</key>
	<string>$(AUTH_DOMAIN)</string>
	<key>AUTH_REDIRECT</key>
	<string>teamplan://auth</string>
    <key>CFBundleIcons</key>
    <dict>
        <key>CFBundlePrimaryIcon</key>
        <dict>
            <key>CFBundleIconName</key>
            <string>AppIcon</string>
        </dict>
    </dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>teamplan</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
